<template name="join">
  <form class="js-protected">
    <div class="centered">          
      <h1 class="welcome">We&rsquo;ve been waiting for you.</h1>
      <input class="js-password" type="text" placeholder="Please Login to View" autofocus="true"/>
    </div>
  </form>
  <section class="section-1"></section>
  <section class="section-2"></section>
  <section class="section-3"></section>
  <section class="section-4"></section>
  <section class="section-5"></section>
  <a href="https://plasso.co/s/6gzxE8Ft4Y/"><section class="section-6"></section></a>
</template>