<template name="membersPage">
  <div class="no-results column">
    <div class="no-results-headline">Dang it.</div> 
    No matches were found.
  </div>
  <section class="control-bar row">
    <span class="control-wrap">
      <span class="toggle" data-js="reset">View All</span>
      <select class="styled-select skills-select toggle">
        <option value="default" disabled selected>Select a filter…</option>
        {{#each users}}
          <!-- don't produce a filter toggle if member hasn't set one -->
          {{#if profile.skill1}}
          <option class="option" value=".{{profile.skill1}}">{{profile.skill1}}</option>
          {{/if}}
          {{#if profile.skill2}}
          <option class="option" value=".{{profile.skill2}}">{{profile.skill2}}</option>
          {{/if}}
          {{#if profile.skill3}}
          <option class="option" value=".{{profile.skill3}}">{{profile.skill3}}</option>
          {{/if}}
        {{/each}}
      </select>
    </span>
    <span class="control-wrap">
      <span class="sort-label">Sort:</span>
      <span class="sort" data-sort="name:asc">A–Z</span> 
      <span class="sort" data-sort="random">Random</span>
    </span>
    <span class="total"><span class="total-number"></span></span>
  </section>
  <div id="sort-container" class="members-page-wrap row space-around">
    {{#each users}}
      {{> membersItem}}
    {{/each}}
  </div>
</template>