<template name="membersItem">
  <span class="member-wrap mix {{profile.skill1}} {{profile.skill2}} {{profile.skill3}}" data-name="{{profile.name}}">
    <div class="member">
      {{> avatar user=this size="large" shape="circle"}}
      <div class="member-name">{{profile.name}}</div>
      <div class="member-location">{{profile.location}}</div>          
    </div>
    <div class="about">
      <div class="member-name">{{profile.name}}</div>
      <p class="member-blurb">{{profile.bio}}</p>
      <a class="view-more" href="{{profileUrl this}}">View Profile</a>
    </div>
  </span>
</template>