<!-- added upvote and comments links and icon -->
<template name="postInfoWeld">
  <a class="author" href="{{profileUrl}}">by {{authorName}}</a>
  <span class="upvote-link {{#if upvoted}}upvoted{{else}}not-upvoted{{/if}}">
    <a href="#">
      <svg class="upvote-icon" xmlns="http://www.w3.org/2000/svg" width="14" height="12" viewBox="-91 16 14 12" enable-background="new -91 16 14 12"><path d="M-80.5 16c-1.8 0-3.2 1.3-3.5 3.1-.2-1.7-1.7-3.1-3.5-3.1-1.9 0-3.5 1.6-3.5 3.5 0 5.3 7 8.5 7 8.5s7-3.2 7-8.5c0-1.9-1.6-3.5-3.5-3.5z"/></svg>
      {{baseScore}}
    </a>
  </span>
  <span class="comments-link">
    <a href="/posts/{{_id}}">
      <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14"><path d="M2 0h10c.5 0 1 .2 1.4.6.4.4.6.9.6 1.4v6c-.1 1-.4 1.5-1 1.8-.6.2-.9.2-1 .2h-1v4l-4-4h-5c-.5 0-1-.2-1.4-.6-.4-.5-.6-.9-.6-1.4v-6c0-.5.2-1 .6-1.4.4-.4.9-.6 1.4-.6z"/></svg>
      {{commentCount}}
    </a>
  </span>
  {{#if canEdit this}}
  <span class="edit-post"><a href="{{pathFor route='post_edit' _id=_id}}" class="goto-edit">Edit</a></span>
  {{/if}}
  {{#if postedAt}}<span class="post-time onum">{{timeAgo postedAt}}</span>{{/if}}
</template>
