<template name="sidebar">
  <nav class="sidebar">
    <div class="close-icon mobile-only">×</div>
    {{#if isDesktop}}{{> UI.dynamic template=logo}}{{/if}}
    <ul class="sidebar-menu srollable-vertical no-scrollbar">
      <li>{{> searchWeld}}</li>
      <li><a href="#">{{> notificationsMenuWeld}}</a></li>
      <li><a class="btn-outlined sidebar-btn" href="/submit">Post</a></li>
      {{#each primaryNav}}
        <li>
          {{> UI.dynamic template=getTemplate}}
        </li>
      {{/each}}
      {{#if isLoggedIn}}
        <li><a href="{{profileUrl}}">{{displayName}}</a></li>
        <li><a href="/sign-out">{{_ "Sign Out"}}</a></li>
      {{else}}
        <li><a href="/sign-in">{{_ "Sign In"}}</a></li>
      {{/if}}
    </ul>
  </nav>
</template>