<template name="userPostsWeld">
  <div class="user-profile-posts grid grid-module">
    <h3>{{_ "posts"}}</h3>
    <table>
    <thead>
      <tr>
        <td>Post</td>
      </tr>
    </thead>
    {{#each posts}}
      <tr>
        <td><a href="{{pathFor route='post_page' _id=_id}}">{{title}}</a></td>
      </tr>
    {{/each}}
    {{#if isReady}}
      {{#if hasMorePosts}}
        <tr>
          <td colspan="100">
            <a class="important" href="#">{{_ "load_more"}}</a>
          </td>
        </tr>
      {{/if}}
    {{else}}
      <tr>
        <td colspan="100">
          <div style="position:relative;height:100px;">
            {{>spinner}}
          </div>
        </td>
      </tr>
    {{/if}}
    </table>
  </div>
</template>