<template name="userUpvotedPostsWeld">
  <div class="user-profile-votes grid grid-module">
    <h3>Upvotes</h3>
    <table>
    <thead>
      <tr>
        <td>Post</td>
      </tr>
    </thead>
    {{#each posts}}
      <tr>
        <td><a href="{{pathFor route='post_page' _id=_id}}">{{title}}</a></td>
      </tr>
    {{/each}}
    {{#if hasMorePosts}}
      <tr>
        <td colspan="2">
          <a class="important" href="#">{{_ "load_more"}}</a>
        </td>
      </tr>
    {{/if}}
    </table>
  </div>
</template>