<template name="userCommentsWeld">
  <div class="user-profile-comments grid grid-module">
    <h3>{{_ "comments_"}}</h3>
    <table>
    <thead>
      <tr>
        <td>Comment</td>
        <td>Post</td>
      </tr>
    </thead>
    {{#each comments}}
      <tr>
        <td>{{{htmlBody}}}</td>
        <td><a href="{{pathFor route='post_page' _id=postId}}/">{{postTitle}}</a></td>
      </tr>
    {{/each}}
    {{#if hasMoreComments}}
      <tr>
        <td colspan="10">
          <a class="comments-more more-button grid-module" href="#"><span>{{_ "load_more"}}</span></a>
        </td>
      </tr>
    {{/if}}
    </table>
  </div>
</template>