<style type="text/css">

  .heading {
    color: #999;
    display: block;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 20px;
  }

  .post-item {
    border-top: 1px solid #ddd;
    padding: 30px 0;
  }

  .header {
    display: block;
    margin-bottom: 30px;
    min-height: 80px;
  }

  .title {
    margin-bottom: 10px;
  }

  .post-domain {
    font-size: 12px;
    color: #333;
  }

  .post-meta {
    font-size: 12px;
    color: #999;
  }

  .post-meta a {
    color: #333;
    font-weight: bold
  }

  .post-thumbnail {
    max-width: 130px;
  }

  img {
    max-width: 600px;
  }

</style>

<span class="heading">Last Week On The Wire</span>

<div class="email-digest">
  {{{content}}}
</div>