.calendarDallas,
.calendarNashville {
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  padding: 0;
  // Relative for Modal
  position: relative;
  align-items: flex-start;
  @include small {
    overflow: auto;
  }

  .fc {
    font-size: 0.85rem;
    font-weight: 500;
    min-width: 800px;
    text-rendering: optimizeLegibility;
  }

  .new-event-button {
    max-width: 280px;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 100;
  }

/*====================================================
    Header
====================================================*/
  
  $button-border: 1px solid $dark-grey;

  .fc-toolbar {
    height: $header-height;
    background: $black;
    color: white;
    margin: 0;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
      padding-left: 1rem;
      font-size: 1rem;
      text-transform: uppercase;
      letter-spacing: 3px;
    }
  }

  .fc-center,
  .fc-clear {
    display: none !important;
  }

  .ui-button {
    width: auto;
    display: inline-block;
    height: 2rem;
    line-height: 2rem;
    text-transform: capitalize;
    outline: none;
    -webkit-appearance: none;
    border: none;
    border-radius: 3px;
    color: white;
    &:hover {
      background: darken($primary-color, 10);
    }
    &:focus {
      outline: none;
    }
  }

  .fc .fc-button-group > * {
    margin: 0;
    float: none;
  }

  .fc-today-button {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .fc-prev-button,
  .fc-next-button {
    width: 2rem;
    font-size: 0.5rem;
  }

  .fc-prev-button {
    border-radius: 2px 0 0 2px;
    border-right: $button-border;
    &:after {
      content: '◀︎';
    }
  }

  .fc-next-button {
    border-radius: 0 2px 2px 0;
    &:after {
      content: '▶︎';
    }
  }

  .fc-month-button,
  .fc-agendaWeek-button {
    min-width: 50px;
    padding: 0 10px;
    opacity: 0.75;
  }

  .fc-month-button {
    border-radius: 2px 0 0 2px;
    border-right: $button-border;
  }

  .fc-agendaWeek-button {
    border-radius: 0 2px 2px 0;
  }

  .ui-state-active {
    opacity: 1;
  }

/*====================================================
    Grid
====================================================*/

  .ui-widget-header {
    height: 2rem;
    border: 1px solid fade-out($grey, 0.85);
    line-height: 2rem;
    background: white;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .fc-day-header {
    border-right: 1px solid fade-out($grey, 0.85);
  }

  .fc-basic-view td.fc-week-number span, 
  .fc-basic-view td.fc-day-number {
    padding: 8px;
    padding-bottom: 5px;
    font-size: 0.65rem;
  }

  thead tr {
    background: none;
    border: 0;
  }

  .fc-day:hover {
    background-color: fade-out($lightest-grey, 0.5);
  }

  .fc th, 
  .fc td {
    cursor: pointer;
    border-color: $light-grey;
  }

  .ui-state-highlight {
    background: fade-out($lightest-grey, 0.35);
  }

  .fc-content {
    .fc-title {
      font-weight: 400;
      opacity: 0.65;
    }
    .fc-time {
      font-weight: 600;
    }
    &:hover {
      .fc-title { 
        opacity: 1;
      }
    }
  }

/*====================================================
    Events
====================================================*/

  .fc-event {
    border-radius: 0;
    border: 0;
    background: $primary-color;
    padding: 2px;
  }

  .meeting-room {
    background: $blue;
  }
}

/*====================================================
    New Event Modal
====================================================*/

.modal {
  opacity: 0;
  visibility: hidden;  
  pointer-events: none;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  z-index: 200;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  padding: 1rem;
  background-color: fade-out($black, 0.1);
  transition: opacity 300ms ease, visibility 300ms ease;
  transform: translate3d(0,0,0);
  @include small {
    justify-content: flex-start;
  }
}

.modal.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.new-event-form,
.edit-event-form {
  display: none;
  max-width: 600px;
  min-height: 560px;
  width: 100%;
  background-color: $lightest-grey;
  padding: 2rem;
  border-radius: 3px;
  position: relative;
}

.edit-event-form {
  min-height: 300px;
}

.new-event .new-event-form,
.edit-event .edit-event-form {
  display: block;
  animation: fade-in-down 200ms cubic-bezier(0, 0, 0.25, 1.25);
}

.message-wrap {
  height: 200px;
  text-align: center;
}

.studio-message,
.meeting-message,
.edit-message {
  display: none;
  height: 100%;
  z-index: 100;

  h1 {
    margin-bottom: 0.5rem;
  }
}

.studio-event-submitted .studio-message,
.meeting-event-submitted .meeting-message,
.edit-event-submitted .edit-message {
  display: flex;
  color: white;
  font-size: 3rem;
  .message-wrap > * {
    animation: scale-up cubic-bezier(0, 0, 0.25, 1.5), fade-in ease;
    &:nth-child(1) { animation-duration: 300ms; }
    &:nth-child(2) { animation-duration: 500ms; }
    &:nth-child(3) { animation-duration: 600ms; }
    &:nth-child(4) { animation-duration: 700ms; }
  } 
}

.close-button {
  padding: 1rem;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.refresh {
  cursor: pointer;
  color: $grey;
  font-size: 1rem;
  line-height: 1.4;
  display: inline-block;
  max-width: 300px;
  text-decoration: underline;
}

/*====================================================
    Pickadate Plugin
====================================================*/

.group-wrap.row {
  justify-content: space-between;
}

.control-group.half-width {
  flex: 1;
  &:not(:last-child) {
    margin-right: 1rem;
  }
}

.picker__list-item:hover,
.picker__day--infocus:hover, 
.picker__day--outfocus:hover,
.picker__nav--prev:hover, 
.picker__nav--next:hover,
.picker__day--highlighted:hover, 
.picker--focused .picker__day--highlighted {
  background: fade-out($primary-color, 0.75) !important;
  border-color: $primary-color !important;
}

.picker__input.picker__input--active {
  border-color: $primary-color !important;
}

.picker.picker--time .picker__holder {
  max-width: 260px;
}

.picker .picker__holder {
  max-width: 536px;
}

.picker__list-item--selected, 
.picker__list-item--selected:hover, 
.picker--focused .picker__list-item--selected,
.picker__list-item--highlighted,
.picker__list-item--highlighted:hover, 
.picker--focused .picker__list-item--highlighted,
.picker__day--selected, 
.picker__day--selected:hover, 
.picker--focused .picker__day--selected {
  color: white !important;
  background: $primary-color !important;
  border-color: $primary-color !important;
}
