.header {
  flex-wrap: nowrap;
  width: 100%;
  background: $primary-color;
  color: white;
  min-height: $mobile-header-height;
  max-height: $mobile-header-height;
  padding: 0 ($padding / 2);
  z-index: 9000;

  a, a:link, a:visited {
    &.button {
      color: white;
    }
  }
}

a.new-post {
  text-align: center;
  display: block;
  background-color: $weld;
  background-image: url(/packages/telescope-theme-weld/img/plus-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 4rem;
  min-height: $mobile-header-height;

  @include large {
    min-height: $mobile-header-height;
    max-height: $mobile-header-height;
    width: $mobile-header-height;
    border-radius: 100%;
    margin: 50px auto;
    transition:
      transform 100ms ease-in-out, 
      box-shadow 100ms ease-in-out;

    &:hover {
      transform: translateY(-2px);
      color: white;
      box-shadow: 0 3px 8px 1px rgba(0,0,0,0.2);
    }

    &:active {
      transform: translateY(0);
    }
  }
}

.mobile-menu-button {
  flex-grow: 1;
  width: 5rem;
  line-height: $mobile-header-height; 
  height: $mobile-header-height;
  cursor: pointer;
  background: url(/packages/telescope-theme-weld/img/mobile-navicon.svg) no-repeat left center;
}