.membersPage {
  align-content: flex-start;
  padding: 0;
  width: 100%;
  max-width: 100%;
}

#sort-container {
  display: flex;
  flex-wrap: wrap;
}

#sort-container .mix {
  display: none;
}

.control-bar {
  align-items: center;
  background-color: $lightest-grey;
  border-bottom: 2px solid $light-grey;
  box-sizing: border-box;
  font-size: 0.875rem;
  min-height: $header-height;
  padding: 0 1.5rem;
  position: relative;
  width: 100%;

  &.row {
    justify-content: initial;
  }

  @include small {
    padding: 0.75rem;
  }
}

.toggle,
.members-select,
.sort-label,
.sort {
  margin-right: 1rem;
}

.sort-label {
  margin-left: 1rem;
  color: $grey;
}

.toggle {
  display: inline-flex;
  border: none;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  border-radius: 3px;
  cursor: pointer;
  height: 2rem;
  padding: 0 1rem;
  background-color: white;
  box-shadow: 0 2px 0 0 darken(white, 10);

  @include small {
    margin: 0.5rem;
  }
  &:focus {
    outline: none;
  }
}

.skills-select {
  width: auto;
  max-height: 2rem;
  max-width: 200px;
}

.toggle:active {
  transform: translateY(1px);
  box-shadow: none;
}

.toggle.active {
  background: $primary-color;
  box-shadow: 0 2px 0 0 darken($primary-color, 10);;
  color: white;
}

.sort.active {
  color: $primary-color;
}


.total,
.total:after {
  border-radius: 50%;
  width: 2.25rem;
  height: 2.25rem;
}

.total {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto 1.5rem;

  color: white;
  font-size: 80%;
  background: $primary-color;
  transition: background 500ms ease-in-out;

  &.loading {
    border-style: solid;
    border-width: 3px;
    border-color: fade-out($primary-color, 0.8);
    border-left-color: fade-out($primary-color, 0.4);
    animation: rotate 500ms infinite linear;
    background: none;
  }
}

.member-wrap {
  flex: 1;
  flex-basis: 250px;
  min-width: 250px;
  justify-content: center;
  position: relative;
  padding: 2rem;
  text-align: center;
  cursor: default;
  
  .member,
  .about {
    transition: opacity 400ms ease, visibility 400ms ease, filter 800ms ease, transform 200ms ease-in-out;
  }
  
  &:hover {
    .member {
      opacity: 0.5;
      transform: scale(0.9);
      filter: blur(2px);
    }
    .about {
      opacity: 1;
      visibility: visible;
      transform: scale(1);
    }
  }
}

.member .avatar {
  height: 100px;
  width: 100px;
  margin: 0;
  margin-bottom: 1rem;

  .avatar-initials {
    font-size: 1.5rem;
    line-height: 4.5;
  }
}

.about {
  background: fade-out($lightest-grey, 0.3);
  bottom: 0;
  color: $middle-grey;
  left: 0;
  opacity: 0;
  padding: 2.75rem 2rem;
  font-size: 14px;
  line-height: 1.4;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  visibility: hidden;
  transform: scale(0.95);

  .profile-name {
    color: $black;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 0.5rem;
  }
}

.profile-skills,
.profile-location {
  font-size: 80%;
  color: $grey;
  max-width: 20rem;
  margin: 0 auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-transform: capitalize;
}

.profile-blurb {
  max-height: 3rem;
  max-width: 20rem;
  margin: 0 auto 2rem auto;
  overflow-y: hidden;
  position: relative;
  -webkit-mask-image: linear-gradient(to bottom, rgba(255,255,255,1) 50%, rgba(255,255,255,0));
}

a.view-more {
  padding: 0.5rem 1rem;
  background: $primary-color;
  color: white;
  border-radius: 3px;
  display: inline-block;
  &:hover {
    color: white;
  }
}

.no-results {
  display: flex;
  opacity: 1;
  width: 100%;
  height: 100%;
  font-weight: 600;
  font-size: 1rem;
  position: fixed;
  align-self: center;
  align-items: center;
  justify-content: center;
  animation: slide-up 250ms cubic-bezier(0.5, -0.75, 0.25, 1.5), fade-in 500ms ease;
}

.no-results-headline {
  color: $weld;
  font-size: 1.5rem;
}

.no-results.hidden {
  display: none;
}