.non-member {
  text-align: center;
  position: absolute;
  color: white;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: $primary-color url(/packages/telescope-theme-weld/img/cover-photo.jpg) no-repeat center;
  background-size: cover;
  animation: fade-in 500ms;

  &.no-background {
    background: $white;
    color: $primary-color;
  }

  h1 {
    font-size: 5vmax;
    text-transform: uppercase;
    margin-top: 2rem;
    margin-bottom: 0;
    font-weight: 700;
    letter-spacing: 3px;
    @include small {
      font-size: 1.25rem;
    }
  }

  h2 {
    font-size: 1.5rem;
    line-height: 1.4;
    @include small {
      font-size: 1rem;
    }
  }

  .sign-up {
    color: $primary-color;
  }

  .button {
    max-width: 320px;
    margin: 2rem auto;
    font-size: 16px;
  }

  .text-button {
    color: $grey;
    font-size: 14px;
  }
}