.post-meta,
.comment-meta {
  color: $grey;
  font-size: 10px;
  transition: opacity 50ms ease;
  @include small {
    font-size: 12px;
    opacity: 1;
  }
}

.post-meta {
  white-space: nowrap;
  position: relative;
  padding: 0.75rem 0;
}

.single-post .post-meta {
  background: $lightest-grey;
  opacity: 1;
  font-size: 12px;
  padding: 1rem;
  max-height: 50px;
  margin-bottom: 0;
}

.comment-meta {
  font-size: 12px;
}

.posts.list .sticky .post-meta a:hover {
  color: white;
}

.post:not(.sticky) .upvote-link.upvoted,
.single-post .upvote-link.upvoted {
  color: $primary-color;
}

.post:not(.sticky) .comments-link.commented,
.single-post .comments-link.commented {
  color: $primary-color;
}

.author,
.upvote-link,
.points,
.comments-link,
.edit-post,
.comment-reply,
.comment-permalink {
  &:not(:last-child) {
    margin-right: 1rem;
  }
}

.post-time {
  margin-right: 5rem;
}

// Post Info Icons
.post-meta svg {
  vertical-align: middle;
  fill: currentcolor;
  margin-right: .25rem;
}

.upvote-icon {
  margin-top: -2px;
}