// Colors

$red: #DD3416;
$green: #a3d06d;

// Colors
$weld: #f1592a;
$red: #CC4327;
$white: #fff;
$middle-red: #A83610;
$dark-red: #7F2311;
$dark-blue: #46525E;
$blue: #86A2A3;
$yellow: #FAAA31;
$dark-black: #222222;
$black: #302824;
$dark-grey: #615D5C;
$grey: #aaaaaa;
$middle-grey: #cccccc;
$light-grey: #dddddd;
$lightest-grey: #EFEEEE;
$blue-inactive: fade-out($blue, 0.7);

// Applications
$primary-color: $weld;
$secondary-color: $blue;

// Gradients
$bkgd-gradient: linear-gradient(to bottom left, fade-out($blue, 0.2), fade-out($primary-color, 0.2));
$bkgd-gradient-faint: linear-gradient(to bottom left, fade-out($blue, 0.7), fade-out($primary-color, 0.7));
$bkgd-gradient-reverse: linear-gradient(to top right, fade-out($blue, 0.2), fade-out($primary-color, 0.2));

// Random Variables
$page-padding: 8%;
$border: 1px solid darken($lightest-grey, 2);
$cubic: cubic-bezier(0.75,0,0.5,1);
$color-transition: background 400ms, color 300ms;

// Applied Variables

$primary-color: $weld;
$sidebar-bg: $black;
$search-bg: fade-out($dark-grey, 0.7);
$bg-color: $white;
$header-bg: $dark-grey;
$text: $dark-grey;
$medium-text: $grey;
$light-text: $grey;
$lighter-text: $light-grey;
$border-color: $grey;
$highlight-color: $primary-color;

