// Colors

$red: #DD3416;
$green: #a3d06d;

$weld: #f1592a;

$blue: #7ac0e4;
$dark-blue: #4e555d;
$blue-grey: #b3c1c6;
$blue-grey2: #a4a9ab;

$yellow: #f8e121;
$light-yellow: #fffce0;

$black: #111111;
$white: #ffffff;
$darkest-grey: #222222;
$dark-grey: #333333;
$middle-grey: #666666;
$grey: #aaaaaa;
$light-grey: #eeeeee;
$lighter-grey: #dfdbdb;
$lightest-grey: #f2f2f2;

// CCL Overrides

$ccl: #46bfae;
$ccl-darkest-grey: #35393C;
$ccl-dark-grey: #4B5358;

// Applied Variables

$primary-color: $weld;
$sidebar-bg: $darkest-grey;
$search-bg: $dark-grey;
$bg-color: $white;
$header-bg: $dark-grey;
$text: $dark-grey;
$medium-text: $grey;
$light-text: $grey;
$lighter-text: $light-grey;
$border-color: $grey;
$highlight-color: $primary-color;