// Variables

$gutter: 1.5rem;
$padding: $gutter * 1.25;

*, 
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-overflow-scrolling: touch;
}

// Grid Components

.grid-wrap {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  -webkit-backface-visibility: hidden;
}

/* Legacy grid element overrides */

.grid,
.grid-module,
.grid-block {
  width: 100%;
  margin-bottom: 1rem;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

}

// Gutters - add .gutter to any .row element

.gutters {
  padding: $gutter / 2;
}

.gutters .column {
  margin: $gutter / 2;
}

.gutters + .gutters {
  padding-top: 0;
}
