html, 
body {
  min-height: 100%;
  position: relative;
}

// moved sidebar to sidebar.scss

.content-wrap {
  z-index: 100;
  width: 100%;
  min-height: 100vh;
  will-change: opacity, visibility, transform, filter;
  transition: opacity 500ms ease, 
              visibility 500ms ease, 
              transform 500ms ease, 
              -webkit-filter 500ms ease;

  @include small {
    box-shadow: 0 0 0 99999px black;
  }
}

.content {
  align-self: center;
  align-items: center;
  padding: 8% $padding;
  width: 100%;
  max-width: 50rem;
  @include small {
    padding: 8% ($padding / 2);
  }
}