.markdown {
    font-feature-settings:"onum" 1;
    -moz-font-feature-settings:"onum=1"; 
    -ms-font-feature-settings:"onum" 1; 
    -o-font-feature-settings:"onum" 1; 
    -webkit-font-feature-settings:"onum" 1;
    color: $black;

  ul, ol, p, pre, blockquote {
    margin-bottom: 1.5em;
    line-height: 1.5;
  }

  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  ul, ol {
    padding-left: 1.5rem;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
    
    li {
        margin-bottom: 1rem;
        font-feature-settings: initial;
    }
  }

  a {
    &:link, &:visited, &:active {
      color: $primary-color;
    }

    &:hover {
      text-decoration: underline;
    }
  }
  
  p {
    &:last-child {
      display: inline;
      margin-bottom: 0;
    }
  }

  h1, h2, h3, h4, h5 {
    font-weight: bold;
    margin-bottom: 1rem;
  }

  h1 {
    font-size:36px;
  }

  h2 {
    font-size:24px;
  }

  h3 {
    font-size: 21px;
    line-height: 1.4
  }

  h4 {
    font-size:16px;
  }

  h5 { 
    font-size:14px;
  }

  img {
    max-width: 100%;
    margin-bottom: 1rem;
  }

  p img {
    display: inline;
    vertical-align: middle;
  }

  code {
    font-family: Monaco;
    font-size: 12px;
    color: $dark-grey;
    background: $lightest-grey;
    padding: 5px 8px;
    border-radius: 2px;
    white-space: nowrap;
  }

  pre {
    padding: 1rem 1.25rem;
    background-color: $black;
    border-radius: 3px;
    overflow-x: scroll;
    -webkit-overflow-scroll: touch;
    
    code {
      color: $light-grey;
      background: none;
      white-space: pre;
      padding: 0;
    } 
  }

  blockquote {
    border-left: 3px solid #eee;
    padding-left: 1rem;
    font-style: italic;
    color: $grey;
  }
}